<?xml version="1.0"?>
<Fonts>
<Font>
  <!-- ****************** Font(0) ****************** -->

  <Header
    Ascender="928"
    Descender="-244"
    TypoAscender="1056"
    TypoDescender="-271"
    WinAscender="1056"
    WinDescender="271"
    AverageCharWidth="985"
    Codepage1="00040001"
    Codepage2="00000000" />

  <Name>

    <!-- Family -->
    <T n="3,1,0409,1">MessedFont</T>

    <!-- Subfamily -->
    <T n="3,1,0409,2">medium</T>

    <!-- UniqueIdentifier -->
    <T n="3,1,0409,3">MessedFont medium:Version 1.00</T>

    <!-- FullName -->
    <T n="3,1,0409,4">MessedFont medium</T>

    <!-- Version -->
    <T n="3,1,0409,5">Version 1.00</T>

    <!-- PostscriptName -->
    <T n="3,1,0409,6">MessedFontmedium</T>

  </Name>
</Font>
</Fonts>
